@font-face {
    font-family: "digital-7";
    src: url("../fonts/digital-7.ttf");
}

@font-face {
    font-family: "square-sans-serif";
    src: url("../fonts/square-sans-serif.ttf");
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}

.calc-container {
    width: 306px;
    border: 12px solid #1C1C1C;
    background-color: #dbc9ae;
    border-radius: 6px;
}

.calc-container header {
    background-color: #292929;
}

.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #7B323A;
    padding: 5px 0;
}

.title h6,
p {
    font-family: "square-sans-serif";
    font-size: 20px;
    margin: 0;
    padding: 9px;
    color: #c0aa8a;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.title .model {
    font-family: monospace;
    font-size: 13px;
}

.display-container {
    padding: 10px 7px;
}

.display-screen {
    font-family: "digital-7";
    font-size: 55px;
    text-align: end;
    border: 6px solid #1C1C1C;
    padding: 5px;
    background-color: #88897B;
    border-radius: 3px;
    line-height: normal;
}

.buttons-container {
    padding: 5px;
}

.buttons-container button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 65px;
    height: 45px;
    margin: 4px 3px;
    border-radius: 0.5;
    border: 5px solid #292929;
    background: rgb(63, 63, 63);
    background: linear-gradient(90deg, rgba(63, 63, 63, 1) 0%, rgba(56, 56, 56, 1) 27%, rgba(42, 42, 42, 1) 100%);
    color: #d3cbc0;
    border-radius: 3px;
    cursor: pointer;
}

.buttons-container button:hover {
    opacity: 0.90;
}

#clear,
#equals {
    width: 140px;
}

#clear,
#delete {
    background: #E98151;
}